# Secret key for the app (used for cookies, etc)
APP_SECRET_KEY = '{{ lookup("password", "/dev/null length=32 chars=ascii_letters")  }}'

# Target format to favor when converting a book
FORMAT_PREFERRED = '{{ calibre_preferred_format }}'