server {
  listen 443 http2;
  listen [::]:443 http2;
  server_name {{ calibre_server_name }};

  ssl on;
  ssl_certificate {{ calibre_tls_cert_dir }}/{{ calibre_server_name }}/fullchain.crt;
  ssl_certificate_key {{ calibre_tls_cert_dir }}/{{ calibre_server_name }}/key.key;

  access_log /var/log/nginx/{{ calibre_server_name }}.access.log;
  autoindex off;

  client_max_body_size {{ calibre_nginx_max_upload }};

  proxy_connect_timeout       {{ calibre_proxy_timeout }};
  proxy_send_timeout          {{ calibre_proxy_timeout }};
  proxy_read_timeout          {{ calibre_proxy_timeout }};
  send_timeout                {{ calibre_proxy_timeout }};

{% if calibre_auth_basic %}
  auth_basic           "Authentication";
  auth_basic_user_file {{ calibre_auth_basic_file_path }};
{% endif %}

  location / {
    include uwsgi_params;
    uwsgi_pass localhost:{{ calibre_docker_port }};
  }

  location {{ calibre_static_files_url_path }} {
    alias {{ calibre_static_files_path }}/;
  }

{% if calibre_auth_basic %}
  location /feeds {
    auth_basic off;
    include uwsgi_params;
    uwsgi_pass localhost:{{ calibre_docker_port }};
  }
{% endif %}
}
